.paginator {
    min-height: 10px;
    margin: 10px;

}

.pageNumber {
    padding: 2px;
    border: 1px solid gray;
    cursor: pointer;
}

.pageNumber.selectedPade {
    font-weight: bold;
    border-color: black;
}
.button{
    cursor: pointer;

}